<!DOCTYPE html>
<html>

<head>
  <title>
    crypto Awesomeness
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
</head>

<body>
  <h1>crypto Awesomeness</h1>
  <form class="form-horizontal" action="/" method="post">
    <fieldset>

      <!-- Form Name -->
      <legend>Encrypt all your secrets</legend>

      <% if (err) { %>
        <div class="alert alert-danger">
          <strong>Wrong!</strong> <%= err %>
        </div>
      <% } %>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Name</label>
        <div class="col-md-4">
          <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" value="<% if (data) { %><%= data.name %><% } %>" required>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="secret">Secret message</label>
        <div class="col-md-4">
          <textarea class="form-control" id="secret" name="secret"><% if (data) { %><%= data.secret %><% } %></textarea>
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-4">
          <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" value="<% if (data) { %><%= data.password %><% } %>" required>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </fieldset>
  </form>

</body>

</html>
